<div class="title">
  <p>Login</p>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onConfirmAction()">
  <div class="container">
    <div class="group">
      <label kendoTooltip for="email"
        >Email:
        <span
          title="{{ controls['email'].errors?.backendErrors }}"
          *ngIf="submited && controls['email'].errors?.backendErrors"
          class="k-icon k-i-warning"
        ></span>
        <span
          title="This field is required."
          *ngIf="submited && controls['email'].errors?.required"
          class="k-icon k-i-warning"
        ></span>
        <span
          title="Email is not in correct format."
          *ngIf="submited && controls['email'].errors?.email"
          class="k-icon k-i-warning"
        ></span>
      </label>
      <input
        [class.inputErr]="submited && controls['email'].errors"
        type="email"
        id="email"
        formControlName="email"
      />
    </div>
    <div class="group">
      <label kendoTooltip for="password"
        >Password:
        <span
          title="{{ controls['password'].errors?.backendErrors }}"
          *ngIf="submited && controls['password'].errors?.backendErrors"
          class="k-icon k-i-warning"
        ></span>
        <span
          title="This field is required."
          *ngIf="submited && controls['password'].errors?.required"
          class="k-icon k-i-warning"
        ></span>
      </label>
      <input
        [class.inputErr]="submited && controls['password'].errors"
        type="password"
        id="password"
        formControlName="password"
      />
    </div>
  </div>
  <div class="modalActions">
    <button kendoButton primary="true">Login</button>
    <button kendoButton (click)="onCancelAction()">Cancel</button>
  </div>
</form>
